<h1 mat-dialog-title>Cadastrar Subitem</h1>
<form [formGroup]="data.form">
  <mat-form-field style="width: 100%">
    <mat-label>Digite o nome do item</mat-label>
    <input matInput formControlName="nome">
  </mat-form-field>
  <mat-form-field style="width: 100%">
    <mat-label>Toppings</mat-label>
    <mat-select formControlName="subitens" multiple>
      <mat-option *ngFor="let topping of data.subitens" [value]="topping">{{topping.nome}}</mat-option>
    </mat-select>
  </mat-form-field>

</form>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onClick(data.form.value)" cdkFocusInitial>Ok</button>
</div>
