<h1 mat-dialog-title>Cadastrar Subitem</h1>
<div mat-dialog-content>
  <p>Digite o nome do item</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.nome">
  </mat-form-field>
</div>
<!-- <mat-form-field>
  <mat-label>Toppings</mat-label>
  <mat-select [formControl]="data.formControl" multiple>
    <mat-option *ngFor="let topping of data.subitens" [value]="topping">{{topping.nome}}</mat-option>
  </mat-select>
</mat-form-field> -->

<form [formGroup]="data.form">
  
  <p>Digite o nome do item</p>
  <mat-form-field>
    <input matInput formControlName="nome">
  </mat-form-field>
  <br>
  <mat-label>Toppings</mat-label>
  <mat-select formControlName="subitens" multiple>
    <mat-option *ngFor="let topping of data.subitens" [value]="topping">{{topping.nome}}</mat-option>
  </mat-select>

</form>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onClick(data.form.value)" cdkFocusInitial>Ok</button>
</div>
