<div>
  <button mat-fab matTooltip="Cadastrar Subitem" (click)="openModalCadastrar()" matTooltipPosition="right" color="primary">
    <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
  </button>
</div>

<div>
  <mat-form-field>
    <input matInput [(ngModel)]='nome' (keyup)='press($event.target.value)' (keyup.enter)='findByNome()' placeholder="Pesquisar por Nome">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)='findByNome()'>Pesquisar</button>
</div>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef style="text-align: center"> Ações </th>
    <td mat-cell *matCellDef="let element" style="width: 20%">
      <mat-grid-list cols="2" rowHeight="5:3">
        <mat-grid-tile>
          <button mat-button matTooltip="Editar Subitem" color="primary" (click)="openModalEditar(element)">
            <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button matTooltip="Excluir Subitem" color="primary" (click)="openModalDeletar(element)">
            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list> 
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
