<h1 mat-dialog-title>Cadastrar Subitem</h1>
<form [formGroup]="form">
  <mat-form-field style="width: 100%">
    <mat-label>Digite o nome do item</mat-label>
    <input matInput formControlName="nome">
  </mat-form-field>
</form>

<h5 mat-dialog-title>Subitens Disponíveis</h5>
<mat-divider></mat-divider>
<br>
<mat-chip-list style="width: 100%">
  <span *ngFor="let item of subitens; let i = index">
    <mat-chip (click)="adiciona(i)">{{item.nome}}</mat-chip>
  </span>
  <span *ngIf="subitens.length === 0" >Nenhum subitem disponível</span>
</mat-chip-list>
<br>

<h5 mat-dialog-title>Subitens Selecionados</h5>
<mat-divider></mat-divider>
<br>
<mat-chip-list style="width: 100%">
  <span *ngFor="let item of selecteds; let i = index">
    <mat-chip (click)="retorna(i)" style="background-color: #4CAF50" selected>{{item.nome}}</mat-chip>
  </span>
  <span *ngIf="selecteds.length === 0" >Nenhum subitem foi selecionado</span>
</mat-chip-list>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onClick(form.value)" cdkFocusInitial>Ok</button>
</div>